:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --back-accent-color: #404BBF;
    --primary-white-color: #FFF;
    --back-dark-color: #F4F4FD;
    --main-background-color: #E5E5E5;  
    --border-header-color: #e7e9fc;
    --border-box-color: #8E8F99;
    --back-green-accent-color: #31D0AA;
    --open-white-box: #FCFCFC;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;     
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

/* header */
.first-nav {
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
}

.main-header {
    border-bottom: 1px solid var(--border-header-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.link {
    position: relative;
    color: var(--title-text-color); 
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5; 
    font-size: 16px;
    transition: color var(--transition-dur-and-func);
}
.link:hover,
.link:focus {
    color: var(--back-accent-color);
}

.current {
    position: relative;
    
    
}
.current::after {
    content: '';
    position: absolute;
    background-color: var(--back-accent-color);
    border-radius: 2px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    margin-top: 24px;
    bottom: -1px;
    transition: color var(--transition-dur-and-func);

}
.site-link {
    position: relative;
    
    
} 
.site-link.current {
    color: var(--back-accent-color);
}  

.site-nav {
    list-style: none;
    padding-top: 24px;
    display: flex;
    gap: 40px;
   
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
}



.address {
    margin-left: auto;
    display: flex;
 }
.auth-nav {
    display: flex;
    gap: 40px;
    
    
}

.auth-nav .item + .item {
margin-left: 40px;
}

ul#auth-nav li {
    list-style: none;
    display: inline-block;
    flex-grow: 0;
    letter-spacing: 0.02em;
    flex: none;
    margin-top: 24px;
    font-style: normal;
    color: var(--title-text-color);
    
}
.auth-link {
    letter-spacing: 0.02em;
    text-decoration: none; 
    color: var(--primary-text-color);
    font-style: normal;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-link:hover,
.auth-link:focus {
    color: var(--back-accent-color);
}
.auth-link.current {
    color: var(--back-accent-color);
}

/* Logo */
.logo {
    
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--accent-color);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    margin-right: 76px;
    
}

.logo-header {
    padding: 0;
    margin: 0;
    
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-transform: uppercase; 
    display: inline-block; 
    letter-spacing: 0.03em;
    
}
/* main */
.hero-page {
    max-width: 1440px; 
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--primary-white-color);
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
    position: relative;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    display: block; 
    border: none;
    transition: background-color var(--transition-dur-and-func);   
}

.hero-button:hover,
.hero-button:focus {
    color: var(--primary-white-color);
    background-color: var(--back-accent-color);    
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
 }


/* Advantage */

.advantage {
    
    display: flex;
    
    gap: 24px;   
}

.advantage-item {
    width: calc((100% - 72px) / 4);
}

.main-adv {
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.main-p {
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 8px;
    
  
}
.advantage-page {
    padding: 120px 0; 
}
.advantage-box {
    background-color: var(--back-dark-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.work-base {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 72px;
}
.main-team {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px; 
}
.work-team {
    background-color: var(--back-dark-color);
    padding: 120px 0;
}
.team {
    list-style: none;
    display: flex;
    gap: 24px;
    text-align: center;
    width: calc(100% - 72px) / 4;
}
.team-card {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;    
}
.team-descr {
    padding: 32px 16px;
    
}

.work-page {
    padding-bottom: 120px;
}
.working {
    display: flex;
    gap: 24px;
    
    width: calc(100% - 48px) / 3;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team-soc-item {
    width: 40px;
    height: 40px;
    
}
.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur-and-func);
    
}
.team-soc-icon {
    fill: var(--primary-white-color);
}

.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--back-accent-color);
}

/* Customers */
.customers {
    padding: 120px 0; 
   
}
.customers-all {
    display: flex;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.customer-item {
    width: calc((100% - 120px) / 6);
    Height: 88px;
   
}

.customer-icon {
    fill: var(--border-box-color);
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);

}

.customer-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-box-color);
    border-radius: 4px;
    color: var(--border-box-color);
    transition: color var(--transition-dur-and-func),  border-color var(--transition-dur-and-func);
    
        
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--back-accent-color);
    color: var(--back-accent-color);

   }

.customer-icon:hover,
   .customer-icon:focus {
    fill: var(--back-accent-color);

   } 

    

/* Footer */
.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
      
}
.footer-container {
    display: flex;
    align-items: baseline;   
}

.logo-footer {
    color: var(--back-dark-color);
    letter-spacing: 0.03em;
    display: inline-block;
}
.footer-text {
    color: var(--back-dark-color);
    width: 264px;
    letter-spacing: 0.02em;
    line-height: 24px;
   
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-content {
    margin-right: 120px;
}
.footer-text-media {
    font-weight: 500;
    color: var(--primary-white-color);
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-soc-list-footer {
    display: flex;
    gap: 16px;
    display: flex;
    align-items: center;
    
    
    
}

.team-soc-link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur-and-func);
    
}
.team-soc-icon:hover,
.team-soc-icon:focus {
    fill: var(--back-dark-color);
}

.team-soc-link-footer:hover,
.team-soc-link-footer:focus{ 
    background-color: var(--back-green-accent-color);
}
/* Modal window */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
 }
 .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

 }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px; 
    background-color:var(--open-white-box);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-dur-and-func);
   
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--border-header-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: var(--back-accent-color);
border: none; 
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
    }
    
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon  { 
    fill: var(--primary-white-color);
    
} 

    
/* Портфолио */
.main-portfolio {
    padding: 96px 0 120px;
    
}
.button-portfolio {
    background-color: var(--back-dark-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04e;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
   
}
.button-portfolio:hover,
.button-portfolio:focus {
     background-color: var(--back-accent-color);
     color: var(--primary-white-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
    border: 1px solid transparent;   
}
.activities {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    column-gap: 24px;
    row-gap: 48px
}
.activities-type {
    text-decoration: none;  
    width: calc(100% - 48px) / 3; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.activ-descr {
    padding: 32px 16px;
    border: 1px solid var(--border-header-color);
    border-top: none;
}

.brand {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-align: left;
    margin-bottom: 8px;
}
.direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}
.project-category {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.activities-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);

}
.activities-link:hover,
.activities-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.activities-type-img{
    position: relative;
    overflow: hidden;

}
.overlay {
  position: absolute;  
  left: 0;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: #F4F4FD;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
}
.activities-link:hover .overlay,
.activities-link:focus .overlay {
    transform: translate(0, 0);  
}